---
interface Item {
  title: string;
  description: string;
}

interface Props {
  items: Item[];
}

const { items } = Astro.props;
---

<ul class="grid">
  {items.map((item) => (
    <li class="card">
      <h3>{item.title}</h3>
      <p>{item.description}</p>
    </li>
  ))}
</ul>
